
.layoutWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.bodyWrapper {
    display: flex;
    flex: 1;
}

.mainContent {
    flex-grow: 1;
    /*padding: 20px;*/
    background-color: #f0f4f8;
    overflow-y: auto;
}