.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: white;
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 0 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.header img {
    height: 100%;      /* 부모 높이에 맞게 */
    width: auto;
    object-fit: contain;
}