.sidebar {
    width: 220px;
    background-color: #1c1f22;
    color: white;
    padding: 20px;
    margin: 0;
    /*height: 100vh;*/
    box-sizing: border-box;
    flex-shrink: 0;
}

.title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
}

.divider {
    border: none;
    border-top: 1px solid #999;
    margin: 10px 0 20px 0;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu li {
    font-size: 15px;
    cursor: pointer;
    padding-left: 5px;
    transition: color 0.2s;
    margin: 30px 0;
}

.menu li:hover {
    color: #8ab4f8;
}
